@media print {
    body * {
      visibility: hidden;
    }
  
    #container-2,
    #container-2 * {
      visibility: visible;
    }
  
    #container-2{
      position: absolute;
      left: 50px;
      top: 60%;
    }
  }
